/.venv
/venv
/Dataset
/DatasetV8
/DatasetV81
/test_images
/runs/detect/predict
/runs/detect/predict2
/runs/detect/val
/new_env
get-pip.py
runs/detect/train/train_batch0.jpg
runs/detect/train/train_batch1.jpg
runs/detect/train/train_batch2.jpg
runs/detect/train/train_batch71010.jpg
runs/detect/train/train_batch71011.jpg
runs/detect/train/train_batch71012.jpg
runs/detect/train/val_batch0_labels.jpg
runs/detect/train/val_batch0_pred.jpg
runs/detect/train/val_batch1_labels.jpg
runs/detect/train/val_batch1_pred.jpg
runs/detect/train/val_batch2_labels.jpg
runs/detect/train/val_batch2_pred.jpg
runs/detect/predict6/download-19-_jpg.rf.92ceb501f025369bdf92cc4c2feb2678.jpg
runs/detect/predict6/download-19-_jpg.rf.02105cc88f4f56199c90a9b0924ac3fa.jpg
runs/detect/predict6/download-19-_jpg.rf.913750077d8f0eec5ee7d9914061ff19.jpg
runs/detect/predict6/download-19-_jpg.rf.c32e63eba0631f73c5562102eef735f5.jpg
runs/detect/predict6/images-1-_jpg.rf.4c5fe257d07bb273a0aa4e972efd28e8.jpg
runs/detect/predict6/images-1-_jpg.rf.9bca726a0778d68a58932f3b18318996.jpg
runs/detect/predict6/images-1-_jpg.rf.9f68b77b152971b99a77599d2d0c3be3.jpg
runs/detect/predict6/images-1-_jpg.rf.bf020938ff5727f03506dc7b825112e3.jpg
runs/detect/predict6/images-6-_jpg.rf.0df85a59733cfb8ab071af9a97a811c4.jpg
runs/detect/predict6/images-6-_jpg.rf.420aad9e81c8e4601efefd141082ca30.jpg
runs/detect/predict6/images-6-_jpg.rf.b5f2b3b2bf7d0af43f5ff20ed8321c14.jpg
runs/detect/predict6/images-6-_jpg.rf.c5f7db0250549378fd675a378c8271d1.jpg
runs/detect/predict6/images-11-_jpg.rf.5acdb9ae57904bd2fb2ec23697705fb9.jpg
runs/detect/predict6/images-11-_jpg.rf.45f7f7b3d63d195324f5b9a356bf8693.jpg
runs/detect/predict6/images-11-_jpg.rf.137179c98b11b97baa28685a959a6c64.jpg
runs/detect/predict6/images-11-_jpg.rf.f26ee8a5f5ac3e3e837211ad437e7441.jpg
runs/detect/predict6/images-13-_jpg.rf.01ece95651138d4ce3289106a51754ec.jpg
runs/detect/predict6/images-13-_jpg.rf.51130c259309d809247a05c6bdb783cc.jpg
runs/detect/predict6/images-13-_jpg.rf.a9ba764c4c4d47c9c87bd21574d8e83d.jpg
runs/detect/predict6/images-13-_jpg.rf.b219b0bb2f6c06360bf5ff7c21be848d.jpg
runs/detect/predict6/images-23-_jpg.rf.3e8120cdeeb9962c938b43565bc2ce56.jpg
runs/detect/predict6/images-23-_jpg.rf.4ec1e5845648bfe023e1cdd514db012d.jpg
runs/detect/predict6/images-23-_jpg.rf.7324ea73e7e1c538651f1b6516fc991a.jpg
runs/detect/predict6/images-23-_jpg.rf.fc177baf0bdf140805792cc3b7d22995.jpg
runs/detect/predict6/images-54-_jpg.rf.7cebada917e22748c6dcc8472597710c.jpg
runs/detect/predict6/images-54-_jpg.rf.527a9086d344fdd39b0f152e39ce29cb.jpg
runs/detect/predict6/images-54-_jpg.rf.6652abcc59825b2fe58671b6c93f8a0d.jpg
runs/detect/predict6/images-54-_jpg.rf.c75091f00d20fe9c87f4bebcd9c288d0.jpg
runs/detect/predict6/images-60-_jpg.rf.06e87aac8828b96f583454bc0ebe7800.jpg
runs/detect/predict6/images-60-_jpg.rf.202343995db6bdf655e0cacfdc431700.jpg
runs/detect/predict6/images-60-_jpg.rf.a322c20b2ca6efbfe6925bb17df1f526.jpg
runs/detect/predict6/images-60-_jpg.rf.ed93a7061ac032288e2dbf6a61b5e329.jpg
runs/detect/predict6/images-71-_jpg.rf.63a46178432f8d5104dc3afb07fd10cd.jpg
runs/detect/predict6/images-71-_jpg.rf.98c84486f432a6ec876caae985ec74ef.jpg
runs/detect/predict6/images-71-_jpg.rf.459a086184dbf058e83a6fd1799adf88.jpg
runs/detect/predict6/images-71-_jpg.rf.240231f3539104914413af47ecd1e1b3.jpg
runs/detect/predict7/download-19-_jpg.rf.92ceb501f025369bdf92cc4c2feb2678.jpg
runs/detect/predict7/download-19-_jpg.rf.02105cc88f4f56199c90a9b0924ac3fa.jpg
runs/detect/predict7/download-19-_jpg.rf.913750077d8f0eec5ee7d9914061ff19.jpg
runs/detect/predict7/download-19-_jpg.rf.c32e63eba0631f73c5562102eef735f5.jpg
runs/detect/predict7/images-1-_jpg.rf.4c5fe257d07bb273a0aa4e972efd28e8.jpg
runs/detect/predict7/images-1-_jpg.rf.9bca726a0778d68a58932f3b18318996.jpg
runs/detect/predict7/images-1-_jpg.rf.9f68b77b152971b99a77599d2d0c3be3.jpg
runs/detect/predict7/images-1-_jpg.rf.bf020938ff5727f03506dc7b825112e3.jpg
runs/detect/predict7/images-6-_jpg.rf.0df85a59733cfb8ab071af9a97a811c4.jpg
runs/detect/predict7/images-6-_jpg.rf.420aad9e81c8e4601efefd141082ca30.jpg
runs/detect/predict7/images-6-_jpg.rf.b5f2b3b2bf7d0af43f5ff20ed8321c14.jpg
runs/detect/predict7/images-6-_jpg.rf.c5f7db0250549378fd675a378c8271d1.jpg
runs/detect/predict7/images-11-_jpg.rf.5acdb9ae57904bd2fb2ec23697705fb9.jpg
runs/detect/predict7/images-11-_jpg.rf.45f7f7b3d63d195324f5b9a356bf8693.jpg
runs/detect/predict7/images-11-_jpg.rf.137179c98b11b97baa28685a959a6c64.jpg
runs/detect/predict7/images-11-_jpg.rf.f26ee8a5f5ac3e3e837211ad437e7441.jpg
runs/detect/predict7/images-13-_jpg.rf.01ece95651138d4ce3289106a51754ec.jpg
runs/detect/predict7/images-13-_jpg.rf.51130c259309d809247a05c6bdb783cc.jpg
runs/detect/predict7/images-13-_jpg.rf.a9ba764c4c4d47c9c87bd21574d8e83d.jpg
runs/detect/predict7/images-13-_jpg.rf.b219b0bb2f6c06360bf5ff7c21be848d.jpg
runs/detect/predict7/images-23-_jpg.rf.3e8120cdeeb9962c938b43565bc2ce56.jpg
runs/detect/predict7/images-23-_jpg.rf.4ec1e5845648bfe023e1cdd514db012d.jpg
runs/detect/predict7/images-23-_jpg.rf.7324ea73e7e1c538651f1b6516fc991a.jpg
runs/detect/predict7/images-23-_jpg.rf.fc177baf0bdf140805792cc3b7d22995.jpg
runs/detect/predict7/images-54-_jpg.rf.7cebada917e22748c6dcc8472597710c.jpg
runs/detect/predict7/images-54-_jpg.rf.527a9086d344fdd39b0f152e39ce29cb.jpg
runs/detect/predict7/images-54-_jpg.rf.6652abcc59825b2fe58671b6c93f8a0d.jpg
runs/detect/predict7/images-54-_jpg.rf.c75091f00d20fe9c87f4bebcd9c288d0.jpg
runs/detect/predict7/images-60-_jpg.rf.06e87aac8828b96f583454bc0ebe7800.jpg
runs/detect/predict7/images-60-_jpg.rf.202343995db6bdf655e0cacfdc431700.jpg
runs/detect/predict7/images-60-_jpg.rf.a322c20b2ca6efbfe6925bb17df1f526.jpg
runs/detect/predict7/images-60-_jpg.rf.ed93a7061ac032288e2dbf6a61b5e329.jpg
runs/detect/predict7/images-71-_jpg.rf.63a46178432f8d5104dc3afb07fd10cd.jpg
runs/detect/predict7/images-71-_jpg.rf.98c84486f432a6ec876caae985ec74ef.jpg
runs/detect/predict7/images-71-_jpg.rf.459a086184dbf058e83a6fd1799adf88.jpg
runs/detect/predict7/images-71-_jpg.rf.240231f3539104914413af47ecd1e1b3.jpg
runs/detect/train6/train_batch0.jpg
runs/detect/train6/train_batch1.jpg
runs/detect/train6/train_batch2.jpg
runs/detect/train6/train_batch17820.jpg
runs/detect/train6/train_batch17821.jpg
runs/detect/train6/train_batch17822.jpg
runs/detect/train6/val_batch0_labels.jpg
runs/detect/train6/val_batch0_pred.jpg
runs/detect/train6/val_batch1_labels.jpg
runs/detect/train6/val_batch1_pred.jpg
runs/detect/train6/val_batch2_labels.jpg
runs/detect/train6/val_batch2_pred.jpg
runs/detect/val6/val_batch0_labels.jpg
runs/detect/val6/val_batch0_pred.jpg
runs/detect/val6/val_batch1_labels.jpg
runs/detect/val6/val_batch1_pred.jpg
runs/detect/val6/val_batch2_labels.jpg
runs/detect/val6/val_batch2_pred.jpg
runs/detect/val5/val_batch0_labels.jpg
runs/detect/val5/val_batch0_pred.jpg
runs/detect/val5/val_batch1_labels.jpg
runs/detect/val5/val_batch1_pred.jpg
runs/detect/val5/val_batch2_labels.jpg
runs/detect/val5/val_batch2_pred.jpg
runs/detect/train7/train_batch0.jpg
runs/detect/train7/train_batch1.jpg
runs/detect/train7/train_batch2.jpg
runs/detect/train7/train_batch17820.jpg
runs/detect/train7/train_batch17821.jpg
runs/detect/train7/train_batch17822.jpg
runs/detect/train7/val_batch0_labels.jpg
runs/detect/train7/val_batch0_pred.jpg
runs/detect/train7/val_batch1_labels.jpg
runs/detect/train7/val_batch1_pred.jpg
runs/detect/train7/val_batch2_labels.jpg
runs/detect/train7/val_batch2_pred.jpg
