/.venv
/venv
/Dataset
/DatasetV8
/DatasetV81
/test_images
/runs/detect/predict
/runs/detect/predict2
/runs/detect/val
get-pip.py
runs/detect/train/train_batch0.jpg
runs/detect/train/train_batch1.jpg
runs/detect/train/train_batch2.jpg
runs/detect/train/train_batch71010.jpg
runs/detect/train/train_batch71011.jpg
runs/detect/train/train_batch71012.jpg
runs/detect/train/val_batch0_labels.jpg
runs/detect/train/val_batch0_pred.jpg
runs/detect/train/val_batch1_labels.jpg
runs/detect/train/val_batch1_pred.jpg
runs/detect/train/val_batch2_labels.jpg
runs/detect/train/val_batch2_pred.jpg
